@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --text-color: #333;
    --font-family: 'Nunito', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

#header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 1rem 1rem;
}

#nav-wrapper {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: auto;
}

#header-img {
    max-width: 100%;
    height: auto;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    list-style: none;
    font-size: 1.1rem;
    margin-left: 2rem;
}

.nav-link a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

main {
    max-width: 90%;
    margin: 0 auto;


}

#hero-section {
    height: 100vh;
    /* padding: 10rem 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #555 solid 1px; */
}

#hero-title {
    text-align: center;
    font-size: 2rem;
    color: #F02000;
    font-size: 3rem;
    line-height: 2;
}

#video {
    border-radius: 20px;
}

.section {
    padding: 0 1rem 10rem 1rem;
}

.section-title {
    font-size: 2.5rem;
    margin: 5rem 0;
    text-align: center;
    color: var(--text-color);
    font-weight: 700;
}

#how-it-works-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#how-it-works-article article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#how-it-works-article p {
    color: var(--text-color);
    font-size: 1.2rem;
    text-justify: inter-word;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#features-article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5rem;

}

#features ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    text-justify: inter-word;
}

#features ul li {
    list-style: none;
    font-family: var(--font-family);
}

#features figure {
    max-width: 560px;
    height: auto;
}

#features img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 40%;
    margin: 0 auto;
}

label {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#email {
    border: none;
    border-bottom: var(--text-color) solid 1px;
    padding: 1rem;

}

#email:focus {
    outline: none;
    border-bottom: var(--text-color) solid 2px;
}

#submit {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    width: 7rem;
    padding: .5rem 1rem;
    margin: 0 auto;
    background-color: white;
    font-size: 1.1rem;
    cursor: pointer;

}

@media (max-width: 1024px) {

    #nav-wrapper {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #logo-container {

        width: 90px;
    }

    #nav-bar ul {
        gap: 1.2rem;
    }

    .nav-link {
        font-size: 1.1rem;
        margin-left: 0;
    }

    main {
        max-width: 100%;
    }

    #hero-section {

        padding: 7rem 2rem;

    }

    #hero-title {
        font-size: 2.5rem;
        line-height: 1.5;
        padding-top: 10rem;
    }

    .section {
        padding: 0 2rem 7rem 2rem;
    }

    .section-title {
        font-size: 2rem;
        margin: 2rem 0;
        font-weight: 600;
    }

    #how-it-works-article {
        flex-direction: column;
        /* gap: 2rem; */
    }

    #video {
        border-radius: 15px;
        width: 100%;
        height: 320px;
    }

    #features-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

    }

    form {
        gap: 2rem;
        max-width: 100%;
    }

}



/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}